.home #page-container {
	padding-top: 0 !important;
}

#page-container {
	margin-top: 0 !important;
}

#main-header {
	background-color: transparent;
	box-shadow: none;
}

#main-header.et-fixed-header {
	background-color: #fff;
}

.et_pb_svg_logo #logo, .et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo {
	height: 100%;
}

@media (max-width: 980px) {
	.et_fixed_nav #main-header {
		position: fixed;
	}
	
	.et_header_style_left #logo, .et_header_style_split #logo {
		max-width: 100%;
	}
	
	span.logo_helper {
		display: inherit;
	}
	
	.et_pb_pagebuilder_layout.et_header_style_left .logo_container, .et_header_style_left .logo_container {
		width: 150px;
	}
}

.et_button_no_icon .et_pb_button {
	padding: 8px 25px !important;
}

.et_button_no_icon .et_pb_button:hover {
	padding: 8px 25px !important;
	background-color: #c9c9c9;
	color: #f5f5f5;
}

.et_pb_scroll_top.et-pb-icon {
	webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background: rgba(0, 87, 149, 0.75);
	padding: 5px 5px 5px 8px;
}

body {
	font-family: myriad-pro, sans-serif;
}

h1 {
	margin-bottom: 30px;
	padding-bottom: 0;
	line-height: 1.35em;
}

h3 {
	line-height: 1.5em;
}

#services .et_pb_module {
	margin-bottom: 0;
}

#services h3 {
	font-size: 18px;
	text-align: left;
	display: block;
}

#services .serviceTitle:last-of-type h3 {
	border-bottom: none;
}

.et_pb_slide p {
	color: #000;
}

.serviceTitle h3 {
	position: relative;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-top: 1em;
	display: inline-block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#services .serviceTitle:last-of-type h3.open {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.serviceTitle h3::after {
	position: absolute;
	right: 0;
	top: 1em;
	content: "\F107";
	font-family: fontAwesome;
	transition: 0.25s ease-in-out;
}

.serviceTitle h3.open::after {
	transition: 0.25s ease-in-out;
	transform: rotate(180deg);
}

.servicesContainer {
	padding: 1em 2em;
	border: 2px solid rgba(255, 255, 255, 0.25);
}

#footer-bottom p {
	font-size: 13px;
}

.testimonialsSlider p {
	font-style: italic;
}

.testimonialsSlider p.companyName {
	font-style: normal;
}

*:focus {
	outline: 2px solid #333;
}

*:focus-visible {
	outline: 2px solid #333;
}

*:focus:not(:focus-visible) {
	outline: none;
}

.bio {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 179, 240, 0.95);
	z-index: 11;
	overflow: auto;
}

.serviceBlurb {
	display: none;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: left;
}

.bio > .et_pb_text_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	width: 80%;
}

.bio > .et_pb_text_inner p {
	color: #fff;
}

.serviceTitle {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bio-container .et_pb_column, .services-container .et_pb_column {
	position: static;
}

.et_pb_column {
	z-index: 1;
}

.closeButton {
	position: absolute;
	top: -25px;
	right: -25px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.testimonialsSlider .et-pb-controllers {
	position: relative;
	bottom: auto;
	margin-top: 50px;
}

.testimonialsSlider.et_pb_bg_layout_dark h1, .testimonialsSlider.et_pb_bg_layout_dark h2, .testimonialsSlider.et_pb_bg_layout_dark h3, .testimonialsSlider.et_pb_bg_layout_dark h4, .testimonialsSlider.et_pb_bg_layout_dark h5, .testimonialsSlider.et_pb_bg_layout_dark h6, .testimonialsSlider.et_pb_bg_layout_dark p {
	color: #000 !important;
}

.et_pb_slides {
	padding-left: 5%;
	padding-right: 5%;
}

@media (max-width: 980px) {
	.bio > .et_pb_text_inner {
		top: 0;
		padding: 2em;
		left: 0;
		transform: none;
		width: 100%;
	}
	
	.closeButton {
		top: 10px;
		right: 10px;
	}
}

@media (max-width: 450px) {
	.closeButton {
		position: fixed;
	}
}

#services::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	background-color: rgba(0, 87, 149, 0.9);
}

#services::after {
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 100%;
	content: "";
	background: linear-gradient(0deg, transparent, rgba(0, 87, 149, 0.9));
}

#services .et_pb_row {
	z-index: 1;
}

.hero::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 100%;
	content: "";
	background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 70%);
}

.ctaBox {
	background-image: url(../img/textures/just-waves.png);
}

.ctaBox::before {
	content: "";
	background-color: rgba(255, 255, 255, 0.75);
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}
