.home #page-container {
	padding-top: 0!important;
}
#page-container {
	margin-top: 0!important;
}
#main-header {
	background-color: transparent;
	box-shadow: none;
}
#main-header.et-fixed-header {
	background-color: #fff;
}

@media (max-width: 980px) {
	.et_fixed_nav #main-header {
		position: fixed;
	}
}