.bio {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 179, 240, .95);
	z-index: 11;
}
.serviceBlurb {
	display: none;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: left;
}
.bio > .et_pb_text_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 600px;
	width: 80%;
}
.bio > .et_pb_text_inner p {
	color: #fff;
}
.serviceTitle {
	cursor: pointer;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bio-container .et_pb_column, .services-container .et_pb_column {
	position: static;
}
.et_pb_column {
	position: static;
	z-index: 1;
}
.closeButton {
	position: absolute;
	top: -25px;
	right: -25px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.testimonialsSlider .et-pb-controllers {
	position: relative;
    bottom: auto;
    margin-top: 50px;
}
.testimonialsSlider.et_pb_bg_layout_dark h1,
.testimonialsSlider.et_pb_bg_layout_dark h2,
.testimonialsSlider.et_pb_bg_layout_dark h3,
.testimonialsSlider.et_pb_bg_layout_dark h4,
.testimonialsSlider.et_pb_bg_layout_dark h5,
.testimonialsSlider.et_pb_bg_layout_dark h6,
.testimonialsSlider.et_pb_bg_layout_dark p, {
	color: #000!important;
}
.et_pb_slides {
	padding-left: 5%;
	padding-right: 5%;
}